



header {
/*     background-color: #607d8b;
 */
    background-color: #f7cac9;
}

.center {
  display: block;
 
  margin-left: auto;
  margin-right: auto;
 
}


    main {
      
/*       background-color: #08f
 */
      background-color:#98b4d4;

    
    }




  footer {
/*     background-color:#228B22 ;
 */
    background-color:#88b04b ;

    
    color: azure;
    text-align: center;
  }
