body  {
     margin-left: 100px;
      
  }



header {
    background-color: #607d8b;
    
    
  }

hr.rounded {
  border-top: 25px solid rgb(211, 16, 16);
  border-radius: 8px;
}


  footer {
    background-color:#228B22 ;
    color: azure;
    text-align: center;
  }